<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="static/style.css"></link>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"></link>
    <title>{% block tittle %} {% endblock %}</title>
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">AviProject</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/prices" class="nav-link active" aria-current="page">Прайс-лист</a></li>
        <li class="nav-item"><a href="/basket" class="nav-link">Корзина</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
      </ul>
    </header>

{% block body %}{% endblock %}

<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/about">Контакты</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>