{%  extends '_base.html' %}

{% block title %}
Добавлени е заказа
{% endblock %}

{% block body %}
    <div class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <h1>Добавление товара</h1>
    <form method="post">
        <input type="text" name="surname" id="surname" class="form-control" placeholder="Введите фамилию"><br>
        <textarea name="name" id="name" class="form-control" placeholder="Введите имя"></textarea><br>
        <textarea name="number" id="number" class="form-control" placeholder="Введите номер телефона"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
    </div>
{% endblock %}