{% extends '_base.html' %}
{% block tittle %} Прайс-лист {% endblock %}

{% block content %}
<table>
    <thead>
    <tr><td>Название</td><td>Цена</td><td>&nbsp;</td></tr>
    </thead>
    <tbody>
    {% for item in range(0, repeat) %}
        <tr>
        <td>{{ item.name }}</td>

        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}